.tablist {
    display: flex;
    cursor: pointer;       
}
.tab {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
}
.tab:hover {
    background-color: white;
}
.tab.active {
    background-color: grey;
}
.tab-content {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
}
.tab-content.active {
    display:block;
}